.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  margin-top: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: 200;
  padding: 40px;
  border-color-hover: ;
  border-style-hover: solid;
  border-width-hover: 1;
  background-color: #4ECCA3;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #4ECCA3;
  background-image: -webkit-linear-gradient(top, #4ECCA3, #379C7B);
  background-image: -moz-linear-gradient(top, #4ECCA3, #379C7B);
  background-image: -ms-linear-gradient(top, #4ECCA3, #379C7B);
  background-image: -o-linear-gradient(top, #4ECCA3, #379C7B);
  background-image: -webkit-gradient(to bottom, #4ECCA3, #379C7B);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
